body {
    font-family: 'Lexend Peta', sans-serif;
}
.header__nav-link, .header__nav-link a{
    display: inline;
    margin-left: 1.2%;
    text-decoration: none;
    color: #181717;
}
header {
    background-color:#fff;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1% 0 1% 1%;
    z-index: 100;
}
nav {
    font-size: 0.8rem;
    font-weight: bold;
    width: 40%;
}
.logo {
    fill: #000;
}
.white-button {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    background-color: #fff;
    height: 50px;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Lexend Peta', sans-serif;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-button:hover {
    background-color: #000;
    color: #fff;
}
#pedir-button {
    width: 90px;
    display: inline;
}
.fondo_principal {
    width: 100%;
    margin-left: 0px;
}
.fondo_principal video {
    position: relative;
    top: -150px;
    width: 100vw;
    left:-10px;
    z-index: -2;
}
.scroll-text {
    position: absolute;
    top: 95vh;
    left: 45%;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
}
.contenido_inicial {
    position: absolute;
    top: 40vh;
    left: 20%;
    width: 25%;
    color: #fff;
    font-size: 1.0rem;
}
#titulo_sobre_imagen {
    font-size: 2.6rem;
}
#subtitulo_sobre_imagen {
    font-size: 1.2rem;
    font-weight: 100;
}
#link_sobre_imagen {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.carrusel img{
    width: 30%;
}
.carrusel {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
#whatsapp {
    position: fixed;
    top: 90vh;
    left: 95%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #000;
    transition: 0.5s;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
}
#whatsapp-icon {
    color: #fff;
    position: relative;
    top: 9px;
    left: 10px;
    transition: 0.5s;
}
#whatsapp:hover {
    background-color: #fff;
}
#whatsapp-icon:hover {
        color: #000;
}
.flecha-izquierda {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 1220px;
    left: 250px;
    font-size: 1.3rem;
}
.flecha-derecha {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 1220px;
    left: 1660px;
    font-size: 1.3rem;
}
.texto-en-imagen {
    background-color:#fff;
    height: 40px;
    width: 350px;
    position: relative;
    top: -150px;
    left: 300px;
    border-style: solid;
    border-width: 2px;
    padding-top: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
}
#ti-izquierda {
    position: relative;
    top: -150px;
    left: 300px;
    width: 350px;
    font-weight: 500;
    font-size: 1.1em;
}
#ti-centro {
    left: 800px;
    top: -205px;
    position: relative;
    width: 350px;
    font-weight: 500;
    font-size: 1.1em;
}
#ti-derecha {
    left: 1300px;
    top: -262px;
    position: relative;
    width: 350px;
    font-weight: 500;
    font-size: 1.1em;
}
#ubicaciones {
    position: relative;
    margin: auto;
    width: 80%;
    left: 0;
}
#ubicaciones img {
    width: 100%;
    
}
.titulo-en-imagen {
    position: absolute;
    top: 100px;
    left: 30%;
    width: 35%;
    color: #fff;
    font-size: 3.1rem;
    text-align: center;
    z-index: 1;
}
#ubicaciones::before {
    background-color: rgba(0,0,0,0.5);
    content:"";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
}
.ti-ubicaciones {
    position: relative;
    width: 25%;
    top: -320px;
    left: 670px;
    height: 30px;
    font-weight: 500;
    font-size: 1.1em;
}
.link_sobre_imagen {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
#link-ubicaciones {
    position: absolute;
    top: 2150px;
    left: 42%;
}
.seccion-final {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
#catering img {
    width: 100%;
    height: 100%;
}
#catering {
    width: 65.5%;
    height: 550px;
}
#catering::before {
    background-color: rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    top: 2531px;
    left: 196px;
    right: 0;
    bottom: 0;
    width: 47.6%;
    height: 550px;
}
#catering-header {
    top: 2670px;
    left: 290px;
    text-align: left;
}
#catering-subtitle {
    top: 2660px;
    left: 30px;
    font-size: 0.8rem;
}
.ti-catering {
    top: -80px;
    width: 200px;
}
#no-franquicia {
    top: 2720px;
    left: 1100px;
    color: #000;
}
.resaltar-negro {
    background-color: #000;
    color: #fff;
}
#franquicias-subtitle {
    top: 2700px;
    left: 1100px;
    color: #000;
    font-size: 0.8rem;
}
.ti-franquicias {
    position: absolute;
    top: 2900px;
    left: 1340px;
    width: 200px;
}
.footer{
    background-color: #000;
    color: #fff;
    width: 100vw;
    height: 400px;
    margin-top: 100px;
    margin-left: -10px;
    margin-bottom: -10px;
}
.main-footer {
    height: 250px;
    width: 40vw;
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 350px;
    top: 50px;
    line-height: 3rem;
    column-count: 2;
}
.main-footer ul {
    list-style-type: none;
}
.footer-links {
    width: 80vw;
    position: absolute;
    top: 3550px;
    left: 380px;
}
.footer-links a,p{
    color: #fff;
    font-size: 0.8rem;
    display: inline-block;
}
.footer-links a {
    margin-left: 5px;
    text-decoration: underline;
}
#terminos{
    margin-left: 200px;
}
.icono {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: #fff;
    background-color: #000;
    color: #fff;
    border-style: solid;
    border-width: 2.9px;
    font-size: 0.8rem;
    transition: 0.5s;
}
.icono i {
    position: relative;
    top: 6px;
    left: 6px;
}
#instagram {
    top: 3370px;
    left: 1400px;
}
.icono:hover {
    background-color: #fff;
    color: #000;
}
#facebook {
    top: 3370px;
    left: 1450px;
}
#twitter {
    top: 3370px;
    left: 1500px;
}